@media(max-width: 767px) {
    .center {
        padding: 0 16px;
    }



    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 650px;

        &__title {
            padding-top: 148px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
        }

        &__text {
            max-width: 335px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;

            &--bold {
                font-weight: 600;
            }

            & br {
                display: none;
            }
        }

        &__input {
            margin-top: 35px;
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
        }

        &__svg {
            &--1 {
                content: url(../img/svg/Star\ 14.svg);
                left: 38px;
                top: 97px;
            }

            &--2 {
                content: url(../img/svg/Star\ 15.svg);
                left: 92px;
                top: 64px;

            }

            &--3 {
                content: url(../img/svg/Star\ 13.svg);
                left: 216px;
                top: -84px;
            }

            &--4 {
                content: url(../img/svg/Star\ 16.svg);
                left: 273px;
                top: 557px;
            }

            &--5 {
                content: url(../img/svg/Star\ 17.svg);
                left: 304px;
                top: 580px;
            }
        }
    }

    .scroll {
        height: 51px;

        &__content {
            gap: 27px;
        }


        &__text {
            font-size: 16px;
            font-weight: 700;
            line-height: 110%;
        }

        &__svg {
            width: 19px;
            height: 19px;
        }

    }

    .about-games {
        display: none;
    }

    .mini-games {
        position: relative;
        background: rgb(32, 32, 39);
        padding-top: 46px;
        overflow: hidden;

        &__svg {
            position: absolute;
            left: 50%;
            top: 50%;


            &--1::before {
                content: url(../img/svg/Star\ 7.svg);
                position: absolute;
                bottom: 1617px;
                left: 559px;
            }

            &--2::after {
                position: absolute;
                content: url(../img/svg/Star\ 6.svg);
                bottom: 1549px;
                left: 603px;
            }

            &--3::after {
                position: absolute;
                content: url(../img/svg/Star\ 8.svg);
                top: 1616px;
                left: 599px;
            }

            &--4::after {
                position: absolute;
                content: url(../img/svg/Star\ 10.svg);
                top: 1663px;
                left: 529px;
            }
        }

        &__title {

            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 64px;
            font-weight: 700;
            line-height: 78px;
        }

        &__box {
            display: flex;
            gap: 32px;
            margin-top: 72px;
            flex-direction: column;
            padding-bottom: 144px;

            &>.mini-games__card:nth-child(2n) {
                flex-direction: row-reverse;
                justify-content: flex-end;
            }
        }

        &__card {
            display: flex;
            justify-content: space-between;
            height: 500px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
            overflow: hidden;
        }

        &__content {
            padding: 48px;
            background-color: #fff;
        }

        &__name {
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
        }

        &__description {
            margin-top: 24px;
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }

        &__button {
            border-radius: 60px;
            margin-top: 36px;
            background: rgb(32, 32, 39);
            width: 247px;
            height: 66px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                background-color: transparent;
                color: #000000;
            }
        }
    }

    .footer {
        height: 100px;

        &__text {
            font-size: 16px;
            font-weight: 600;
        }
    }
}